body {  
    margin: 0;
    font-family: cursive;
    color: white;
    background:#161B21;
    overflow-x: hidden;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 200px;
    padding: 100px 20vw;
}

.blue {
    background: #3c31dd;
}

.red {
    background: #dd3f31;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #0f0f10;
}

h1 {
     font-size: 210px;
}

.box_item:hover{
    content: attr(data-hover);
}

.box_item:hover::after{
    content: attr(data-hover);
}

/* thing */
::-webkit-scrollbar {
    width: 15px;
}
          
/* another thing */
::-webkit-scrollbar-thumb {
    background: #dd0f00; 
    border-radius: 10px;
}
          
/* yeah cringe */
::-webkit-scrollbar-thumb:hover {
    background: red; 
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

img {
        margin-right: 1000px;
        position: relative;
        top: -790px
    }