body {
  background-color: black;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 777;
  font-size: 20px
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 777;
  font-size: 20px
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 777;
  font-size: 20px

}

a:active {
  color: red;
  background-color: transparent;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 777;
  font-size: 20px
  
}

.column-container {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1 1 200px; /* Adjust the width of each column as needed */
  margin-right: 100px; /* Adjust the spacing between columns as needed */
  display: block;
  margin-bottom: 10px; /* Adjust the spacing between links as needed */
}
